#app {
background-image: url(https://w.forfun.com/fetch/db/db812224dd2794b4cd63b0a546c3e49f.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
header {
  color:rgb(27, 170, 122)
}
